.form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0.5rem auto;
    
    padding: 1rem;
    border-radius:10px;
}
.form input[type="text"]{
   
    margin: 0.5rem auto;
    border: none;
    border-bottom: 1px solid #fff;
    
    padding: 0.3rem;
    border-radius:10px;
}